body {background-color: aliceblue;}

.h1port{
	font-family: helvetica;
	font-size: 75px;
	margin-top: 100px;
}
.h2port{
	font-family: Helvetica;
	font-size: 40px
}
.pport{
	font-family: helvetica;
	font-size: 24px
}
.aport{
	color: black;
	text-decoration: none;
	font-size: 16px;
}
.navport{
	color: black;
	text-decoration: none;
	font-size: 16px;
}
.button {
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: helvetica;
	font-size: 24px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
}
.buttonmain {
	background-color: aliceblue;
	color: black;
	border: 2px solid black;
}

.buttonmain:hover {
	background-color: black;
	color: aliceblue;
}
* {
	box-sizing: border-box;
}
.carousel-inner img {
      width: 25%;
      align-content: center;
  }